.systembar
	background: $inky
	height: 40px
	padding-left: 15px
	
.bubble
	width: 1rem
	height: 1rem
	border-radius: 100rem
	display: inline-block
	margin: 15px 5px
	cursor: pointer
	&:hover
		opacity: .6

.red
	background: $red

.yellow
	background: $yellow

.green
	background: $green