$default-font: "Roboto-Regular", sans-serif

// Font-sizes
$x-small	: 1.2rem
$small		: 1.4rem
$medium		: 1.5rem

// Colors

$black	: #000000
$white	: #ffffff
$pink	: #e0e0e0
$dark	: #080606
$light	: #f6f6f6
$inky	: #101022
$grey	: #8a8995
$navy	: #292a48
$red	: #ea423f
$yellow	: #efb62c
$green	: #7ab300