@import "fonts"
@import "vars"
@import "nav"
@import "content"
@import "systembar"

*
	margin: 0
	padding: 0

*,
*::before,
*::after
	box-sizing: inherit

html
	box-sizing: border-box
	font-size: 62.5%

body
	font-family: $default-font
	background-image: url('../media/img/background.jpg')
	background-size: cover
	background-repeat: no-repeat

.container
	margin: 10vw auto auto
	max-width: 650px

.app
	display: flex
	overflow: hidden
	position: relative
	border-radius: 10px
	box-shadow: 0px 0px 10px 0px

.column
	min-width: 150px
	background-color: rgba($inky, .9)